.flex-div {
background-color: gray;
display: flex;
height: 400px;
justify-content: center;

flex-direction: row;
}
.first-child-div {
background-color: blue;
flex: 1;
height: 100px;
}
.second-child-div {
    background-color: red;
 width: 50px;
    height: 100px;
}
.third-child-div {
    flex: 2;
    background-color: yellow;
    height: 100px;
}